.container{
    margin-top: 65px;
    margin-left: 10px;
    overflow: auto;
}

.main-card {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 200px;
    padding: 80px;
}

.search-bar{
    margin: 0 auto;
}

.button-confirm{
    margin-left: 10px;
}
